In [ ]:
# Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [ ]:
# Importing the dataset

In [2]:
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [4]:
users

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]

In [5]:
ratings

            0     1  2          3
0           1  1193  5  978300760
1           1   661  3  978302109
2           1   914  3  978301968
3           1  3408  4  978300275
4           1  2355  5  978824291
...       ...   ... ..        ...
1000204  6040  1091  1  956716541
1000205  6040  1094  5  956704887
1000206  6040   562  5  956704746
1000207  6040  1096  4  956715648
1000208  6040  1097  4  956715569

[1000209 rows x 4 columns]

In [ ]:
# Preparing the training and test set

In [2]:
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
print(training_set)
training_set = np.array(training_set, dtype = 'int')  # converting the dataframe into a numpy array
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
print(test_set)
test_set = np.array(test_set, dtype = 'int')  # converting the dataframe into a numpy array

         1   1.1  5  874965758
0        1     2  3  876893171
1        1     3  4  878542960
2        1     4  3  876893119
3        1     5  3  889751712
4        1     7  4  875071561
...    ...   ... ..        ...
79994  943  1067  2  875501756
79995  943  1074  4  888640250
79996  943  1188  3  888640250
79997  943  1228  3  888640275
79998  943  1330  3  888692465

[79999 rows x 4 columns]
         1     6  5  887431973
0        1    10  3  875693118
1        1    12  5  878542960
2        1    14  5  874965706
3        1    17  3  875073198
4        1    20  4  887431883
...    ...   ... ..        ...
19994  458   648  4  886395899
19995  458  1101  4  886397931
19996  459   934  3  879563639
19997  460    10  3  882912371
19998  462   682  5  886365231

[19999 rows x 4 columns]

In [ ]:
# Getting the total number of users and movies

In [3]:
nb_users = int(max(max(training_set[:, 0]), max(test_set[:, 0])))
nb_movies = int(max(max(training_set[:, 1]), max(test_set[:, 1])))

In [4]:
print("Total users: ",nb_users)
print("Total movies: ",nb_movies)

Total users:  943
Total movies:  1682

In [ ]:
# Converting the data into a matrix with 'users' in rows and 'movies' in columns (usual structure for any deep learning model)
# We will create a list of list containing 943 lists of users where each list contains the ratings of 1682 movies

In [5]:
def convert(data):
    new_data = []
    for id_users in range(1, nb_users+1):
        id_movies = data[:, 1][data[:, 0] == id_users]  # extracts all the movie ids of the current user
        id_ratings = data[:, 2][data[:, 0] == id_users] # extracts all the ratings of the current user
        ratings = np.zeros(nb_movies)  # initialising a list of 1682 0s
        ratings[id_movies - 1] = id_ratings  # list belonging to current user gets updated by ratings of movies which are rated by the current user. Movies which are not rated by current user are rated as 0.
        new_data.append(list(ratings))  # adding the list belonging to single user to the list of list. This way 943 lists get added to list of list
    return new_data

In [6]:
training_set = convert(training_set)  
test_set = convert(test_set)

In [ ]:
# Converting the data into Torch tensors

In [7]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [ ]:
# Creating the architecture of the Neural Network (Stacked AutoEncoders)

In [8]:
class SAE(nn.Module):  # Here nn.Module is the base class for neural networks. We are creating a subclass SAE that extends this nn.Module class
    def __init__(self, ):
        super(SAE, self).__init__()   # To get all the inherited classes and methods of nn module class
        self.fc1 = nn.Linear(nb_movies, 20)  # Full connection between input layer and 1st hidden layer created using Linear class of nn module. No.of neurons in each hidden layer can be taken anything (Refer PyTorch Documentation for further details)
        self.fc2 = nn.Linear(20, 10)  # Full connection between 1st hidden layer and 2nd hidden layer
        self.fc3 = nn.Linear(10, 20)  # Full connection between 2nd hidden layer and 3rd hidden layer
        self.fc4 = nn.Linear(20, nb_movies)  # Full connection between 3rd hidden layer and output layer (output layer has same dimension as input layer in AutoEncoders)
        self.activation = nn.Sigmoid()   # Taking the activation func as 'sigmoid'. Here we use 'Sigmoid' class of nn module.
    def forward(self, x):   # method for performing operations inside the SAE, i.e. to perform encoding and decoding (Forward Propagation)
        x = self.activation(self.fc1(x))  # 1st encoding for 1st full connection
        x = self.activation(self.fc2(x))  # 2nd encoding for 2nd full connection
        x = self.activation(self.fc3(x))  # 1st decoding for 3rd full connection
        x = self.fc4(x)   # 2nd (Final) decoding for 4th full connection
        return x    # Now 'x' becomes the vector of predicted ratings
    
sae = SAE()
criterion = nn.MSELoss()  # defining the loss function (Mean squared Error) using MSELoss class of nn module
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)   # defining the Optimizer using RMSprop class of optim module
# weight_decay is used to reduce the lr after every few epochs. This improves the model

In [ ]:
# Training the SAE

In [9]:
nb_epoch = 200
for epoch in range(1, nb_epoch+1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)  # adding a second dimension (second dimension is of batch)to the input as PyTorch cannot take single dimension (just like keras)
        target = input.clone()  # creating a backup variable for input vector
        if torch.sum(target.data > 0) > 0:   # considering those users who have rated atleast 1 movie
            output = sae.forward(input)  # calling the forward() to get the predicted ratings
            target.require_grad = False  # for optimizing the code to reduce a lot of computations by not calculating the gradient
            output[target == 0] = 0   # The ratings which are originally 0 (not rated by a user) are taken as 0 in final output
            loss = criterion(output, target)  # calculating the loss by comparing the predicted ratings and actual ratings
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()  # Performing Backpropagation for adjusting the weights. Determines whether we need to increase the weights or decrease the weights
            train_loss += np.sqrt(loss.item() * mean_corrector) # calculating the Root Mean Square Error (RMSE)
            s += 1.
            optimizer.step()  # To apply the optimizer of RMSprop class we use inbuilt step() of the class
            # backwards() decides whether weights are to be increased or decreased whereas optimizers decides by how much amount the weights are to be adjusted
    print('epoch: '+str(epoch)+' train_loss: '+str(train_loss/s))

epoch: 1 train_loss: 1.772211365108864
epoch: 2 train_loss: 1.096502091451791
epoch: 3 train_loss: 1.0535028838367548
epoch: 4 train_loss: 1.0383157640212335
epoch: 5 train_loss: 1.0308870318950867
epoch: 6 train_loss: 1.0267459663600502
epoch: 7 train_loss: 1.0237340680991933
epoch: 8 train_loss: 1.0218786398369761
epoch: 9 train_loss: 1.0206072603270961
epoch: 10 train_loss: 1.0198187932755418
epoch: 11 train_loss: 1.0187255985057282
epoch: 12 train_loss: 1.018535845761225
epoch: 13 train_loss: 1.017964634409972
epoch: 14 train_loss: 1.0175357420590194
epoch: 15 train_loss: 1.017005529882621
epoch: 16 train_loss: 1.01705321570111
epoch: 17 train_loss: 1.0166847821610583
epoch: 18 train_loss: 1.016551206606653
epoch: 19 train_loss: 1.0159693468004354
epoch: 20 train_loss: 1.016239082294117
epoch: 21 train_loss: 1.015988103532113
epoch: 22 train_loss: 1.015824577331143
epoch: 23 train_loss: 1.0157990025342651
epoch: 24 train_loss: 1.0157604455752274
epoch: 25 train_loss: 1.0158624523228885
epoch: 26 train_loss: 1.0154704320179935
epoch: 27 train_loss: 1.015131857378731
epoch: 28 train_loss: 1.0147762387707417
epoch: 29 train_loss: 1.0128243574154725
epoch: 30 train_loss: 1.0114030756276373
epoch: 31 train_loss: 1.008846825840851
epoch: 32 train_loss: 1.0064775570090438
epoch: 33 train_loss: 1.0044666934740165
epoch: 34 train_loss: 1.002479406040097
epoch: 35 train_loss: 1.0022048554012735
epoch: 36 train_loss: 0.9984560213656065
epoch: 37 train_loss: 0.9976454512131612
epoch: 38 train_loss: 0.9940798809404497
epoch: 39 train_loss: 0.9939306876068423
epoch: 40 train_loss: 0.989424970915653
epoch: 41 train_loss: 0.9885867279789383
epoch: 42 train_loss: 0.9879265229367509
epoch: 43 train_loss: 0.983442280347633
epoch: 44 train_loss: 0.9822809562629996
epoch: 45 train_loss: 0.9837708012769365
epoch: 46 train_loss: 0.9841777078006043
epoch: 47 train_loss: 0.9853668463532893
epoch: 48 train_loss: 0.98149776421117
epoch: 49 train_loss: 0.982539084784937
epoch: 50 train_loss: 0.9796373536214306
epoch: 51 train_loss: 0.9835798760625905
epoch: 52 train_loss: 0.9847022054963668
epoch: 53 train_loss: 0.9830122980377205
epoch: 54 train_loss: 0.9804550772355811
epoch: 55 train_loss: 0.980375520541544
epoch: 56 train_loss: 0.9790871979992601
epoch: 57 train_loss: 0.9745223807075833
epoch: 58 train_loss: 0.9789190246722103
epoch: 59 train_loss: 0.9746869384343236
epoch: 60 train_loss: 0.9739766572494052
epoch: 61 train_loss: 0.9721023028824947
epoch: 62 train_loss: 0.9676377629237075
epoch: 63 train_loss: 0.9672503209481381
epoch: 64 train_loss: 0.9616771984374239
epoch: 65 train_loss: 0.9637975751011664
epoch: 66 train_loss: 0.9594479774683355
epoch: 67 train_loss: 0.9573828020305815
epoch: 68 train_loss: 0.9583788758763384
epoch: 69 train_loss: 0.9599733977095616
epoch: 70 train_loss: 0.9588006600038377
epoch: 71 train_loss: 0.957537668762384
epoch: 72 train_loss: 0.9547309177223013
epoch: 73 train_loss: 0.953843071651415
epoch: 74 train_loss: 0.95281889861896
epoch: 75 train_loss: 0.9525770063954038
epoch: 76 train_loss: 0.9499358847879925
epoch: 77 train_loss: 0.9499787599656212
epoch: 78 train_loss: 0.948455170548665
epoch: 79 train_loss: 0.9477560186057313
epoch: 80 train_loss: 0.9461657498411029
epoch: 81 train_loss: 0.9458993310315699
epoch: 82 train_loss: 0.9452038254749625
epoch: 83 train_loss: 0.9476192352989512
epoch: 84 train_loss: 0.9461102971732394
epoch: 85 train_loss: 0.9442765936302575
epoch: 86 train_loss: 0.9433013718387965
epoch: 87 train_loss: 0.9426340060489796
epoch: 88 train_loss: 0.9412020765803137
epoch: 89 train_loss: 0.9423929232652685
epoch: 90 train_loss: 0.9410100025386834
epoch: 91 train_loss: 0.9411549111194945
epoch: 92 train_loss: 0.9410739050233035
epoch: 93 train_loss: 0.9414710194333763
epoch: 94 train_loss: 0.9392957605247445
epoch: 95 train_loss: 0.9402370118940931
epoch: 96 train_loss: 0.9382224710853341
epoch: 97 train_loss: 0.9382825053981868
epoch: 98 train_loss: 0.9368328994109927
epoch: 99 train_loss: 0.9376351694428988
epoch: 100 train_loss: 0.9369018350179825
epoch: 101 train_loss: 0.9373090367911371
epoch: 102 train_loss: 0.936430260301779
epoch: 103 train_loss: 0.9363551368994627
epoch: 104 train_loss: 0.9352721585283882
epoch: 105 train_loss: 0.9352431615006209
epoch: 106 train_loss: 0.934782661157112
epoch: 107 train_loss: 0.9343151974471573
epoch: 108 train_loss: 0.9342385532532111
epoch: 109 train_loss: 0.9346836617194748
epoch: 110 train_loss: 0.9341010509187208
epoch: 111 train_loss: 0.9330708920279795
epoch: 112 train_loss: 0.9327877707526695
epoch: 113 train_loss: 0.9324199292264564
epoch: 114 train_loss: 0.9322498298916205
epoch: 115 train_loss: 0.9311361730527911
epoch: 116 train_loss: 0.9313354950781378
epoch: 117 train_loss: 0.9307297658037249
epoch: 118 train_loss: 0.9305559252081923
epoch: 119 train_loss: 0.9313816065841113
epoch: 120 train_loss: 0.9304852808499182
epoch: 121 train_loss: 0.9297099735645077
epoch: 122 train_loss: 0.9294837096160836
epoch: 123 train_loss: 0.9293827522019559
epoch: 124 train_loss: 0.9289813363641418
epoch: 125 train_loss: 0.9287429592828881
epoch: 126 train_loss: 0.9281994289918973
epoch: 127 train_loss: 0.9281911373435534
epoch: 128 train_loss: 0.9278588867424431
epoch: 129 train_loss: 0.92794874658268
epoch: 130 train_loss: 0.9272258436753823
epoch: 131 train_loss: 0.9272943815310205
epoch: 132 train_loss: 0.9261602172491082
epoch: 133 train_loss: 0.9261344303575814
epoch: 134 train_loss: 0.925992139011911
epoch: 135 train_loss: 0.9258834178968588
epoch: 136 train_loss: 0.9254218319282748
epoch: 137 train_loss: 0.9253211220807821
epoch: 138 train_loss: 0.924693680306188
epoch: 139 train_loss: 0.9248677885754207
epoch: 140 train_loss: 0.9243312057418158
epoch: 141 train_loss: 0.9238786423947484
epoch: 142 train_loss: 0.9236769047537747
epoch: 143 train_loss: 0.9236302785473085
epoch: 144 train_loss: 0.9230156064435969
epoch: 145 train_loss: 0.9232295128887219
epoch: 146 train_loss: 0.9226160948906831
epoch: 147 train_loss: 0.9227976237136646
epoch: 148 train_loss: 0.9219861641341379
epoch: 149 train_loss: 0.9222529351971022
epoch: 150 train_loss: 0.9216121633188831
epoch: 151 train_loss: 0.9217096706595074
epoch: 152 train_loss: 0.921298956590392
epoch: 153 train_loss: 0.924983796330109
epoch: 154 train_loss: 0.9207599778014532
epoch: 155 train_loss: 0.921085180249756
epoch: 156 train_loss: 0.9205597399596179
epoch: 157 train_loss: 0.920692749633125
epoch: 158 train_loss: 0.9198796672829472
epoch: 159 train_loss: 0.920278185981669
epoch: 160 train_loss: 0.9193309866722214
epoch: 161 train_loss: 0.9194355045825661
epoch: 162 train_loss: 0.9193212643300592
epoch: 163 train_loss: 0.9193807988454914
epoch: 164 train_loss: 0.9187868181877704
epoch: 165 train_loss: 0.9189147741617381
epoch: 166 train_loss: 0.9183679409805486
epoch: 167 train_loss: 0.9186805923026664
epoch: 168 train_loss: 0.9178892641013263
epoch: 169 train_loss: 0.9182949314804499
epoch: 170 train_loss: 0.9175855544078353
epoch: 171 train_loss: 0.9177962382732661
epoch: 172 train_loss: 0.9172400709740871
epoch: 173 train_loss: 0.9175792382541336
epoch: 174 train_loss: 0.917202399619314
epoch: 175 train_loss: 0.917127601347049
epoch: 176 train_loss: 0.9168083979893253
epoch: 177 train_loss: 0.9169075271768246
epoch: 178 train_loss: 0.9161496203298642
epoch: 179 train_loss: 0.9164036219203932
epoch: 180 train_loss: 0.9161332501046301
epoch: 181 train_loss: 0.9161046865430613
epoch: 182 train_loss: 0.915685928700702
epoch: 183 train_loss: 0.9159047149312145
epoch: 184 train_loss: 0.9157801786127434
epoch: 185 train_loss: 0.9157517301914654
epoch: 186 train_loss: 0.915335407976955
epoch: 187 train_loss: 0.91558304750228
epoch: 188 train_loss: 0.9151835270351351
epoch: 189 train_loss: 0.9151840248677069
epoch: 190 train_loss: 0.9147563851915783
epoch: 191 train_loss: 0.9143409137685753
epoch: 192 train_loss: 0.9145467832129613
epoch: 193 train_loss: 0.914682095169641
epoch: 194 train_loss: 0.9145540505745979
epoch: 195 train_loss: 0.9143146896411037
epoch: 196 train_loss: 0.9143080741907891
epoch: 197 train_loss: 0.9138517872537244
epoch: 198 train_loss: 0.9137551324893681
epoch: 199 train_loss: 0.9138621883273413

epoch: 200 train_loss: 0.9139163664651386

In [ ]:
# Testing the SAE

In [11]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)  # adding a second dimension (second dimension is of batch)to the input as PyTorch cannot take single dimension (just like keras)
    # here we take training set and not test set because we want to predict the ratings of the movies that the user has not watched in the training set and then compare these predicted ratings with the actual ratings of those movies that are present in the test set.
    target = Variable(test_set[id_user]).unsqueeze(0)  # target contains the actual ratings of the movies in the test set that were not watched by the users in the training set
    if torch.sum(target.data > 0) > 0:   # considering those users who have rated atleast 1 movie
        output = sae.forward(input)  # calling the forward() to get the predicted ratings
        target.require_grad = False  # for optimizing the code to reduce a lot of computations by not calculating the gradient
        output[target == 0] = 0   # The ratings which are originally 0 (not rated by a user) are taken as 0 in final output
        loss = criterion(output, target)  # calculating the loss by comparing the predicted ratings and actual ratings
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.item() * mean_corrector) # calculating the Root Mean Square Error (RMSE)
        s += 1.
print('test_loss: '+str(test_loss/s))

test_loss: 0.9496858995110379

In [ ]:
# Making Predictions for a given user and for a given movie

In [70]:
user_id = 3
movie_id = 482
input = Variable(training_set[user_id-1]).unsqueeze(0)
predicted_rating = sae.forward(input)
predicted_rating = predicted_rating.data.numpy()
print('Predicted Rating: '+ str(predicted_rating[0, movie_id-1]))

Predicted Rating: 3.6260068